<!DOCTYPE html>
<html lange="en">
    {% include 'laughtrack/navbar.html' %}
<section class="section">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/6b3b270695.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <h2 class="title is-2">Followed Comedians:</h2>
    <h3 class="block">
        <a href="{% url 'laughtrack:homepage'%}" class="button">
            <span class="icon-text">
                    <span class="icon">
                        <i class="fa-solid fa-left-long"></i>
                    </span>
                <span>back to homepage</span>
            </span>
        </a>
    </h3>
    
        <div class="columns">
            <div class="column is-two-fifths scroll" >{% include 'laughtrack/events.html' %}</div>
            <div class="column box scroll">{% include 'laughtrack/details.html' %}</div>
        </div>
    </body>
</section>
</html>





