<!DOCTYPE html>
<html lange="en">
    
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/6b3b270695.js" crossorigin="anonymous"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'laughtrack/style.css' %}">
</head>
<body>
  {% include 'laughtrack/navbar.html' %}

    <section class="section">
      <h1 class="title is-1">Home:</h1>
        <h3 class="block"><a href="{% url 'laughtrack:following' %}" class="button">
            
            <span class="icon-text">
                <span>Comedians you follow</span>
                    <span class="icon">
                      <i class="fa-solid fa-right-long"></i>
                    </span>
                
              </span>
              </a>
            </h3>
        <div class="columns">
            <div class="column is-two-fifths scroll" >{% include 'laughtrack/events.html' %}</div>
            <div class="column box scroll">{% include 'laughtrack/details.html' %}</div>
        </div>
    </section>
</body>
</html>

